<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h3 class="card-title ">Danh sách User</h3>
                  </div>
                  <div class="card-body">
                        <div class="row">
                                <div class="col-md-6">
                                        <mat-form-field>
                                                <input matInput [(ngModel)]="timkiem" name="timkiem"  placeholder="Tìm kiểm danh sách người dùng">
                                              </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                            <mat-select [(ngModel)]="sortby" (change)="onSortBy()" name="sortby" class="example-full-width">
                                                <mat-option   value="name">
                                                    Lọc theo tên
                                                </mat-option>
                                                <mat-option   value="email">                                              
                                                    Lọc theo email
                                                </mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <button (click)="applyFilter()" mat-raised-button color="primary">Tìm kiếm</button>
                                </div>
                            </div>
                        <mat-table  [dataSource]="dataSource">
                            <ng-container matColumnDef="UserID">
                                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                                  <mat-cell *matCellDef="let user">{{user.UserID}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="username">
                                <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                                <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                                <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="NgaySinh">
                                <mat-header-cell *matHeaderCellDef>Ngày sinh</mat-header-cell>
                                <mat-cell *matCellDef="let user">{{user.NgaySinh}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="GioiTinh">
                                <mat-header-cell *matHeaderCellDef>Giới tính</mat-header-cell>
                                <mat-cell *matCellDef="let user">
                                  <div *ngIf="user.GioiTinh==1">Nam</div>
                                  <div *ngIf="user.GioiTinh==0">Nữ</div>
                                </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="TrangThai">
                                <mat-header-cell *matHeaderCellDef>Khóa/Kích hoạt</mat-header-cell>
                                <mat-cell *matCellDef="let user">
                                        <swal
                                        #kichhoat
                                        title="Kích hoạt tài khoàn người dùng "
                                        text="Bạn có muốn kích hoạt {{user.username}} không ?" 
                                        type="warning"
                                        [showCancelButton]="true"
                                        (confirm)="onKickHoat(user.UserID)">
                                        </swal>
                                        <swal
                                        #khoa
                                        title="Khóa tài khoàn người dùng "
                                        text="Bạn có muốn Khóa {{user.username}} không ?" 
                                        type="warning"
                                        [showCancelButton]="true"
                                        (confirm)="onKhoa(user.UserID)">
                                        </swal>
                                    <a class="btn btn-info" [swal]="khoa"  href="" *ngIf="user.TrangThai==1">Kích hoạt</a>
                                    <a class="btn btn-danger"  [swal]="kichhoat"  href="" *ngIf="user.TrangThai==0">Khóa</a>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="thaotac">
                                <mat-header-cell *matHeaderCellDef>Thao tác</mat-header-cell>
                                <mat-cell *matCellDef="let user">
                                    <a class="btn btn-success"  [routerLink]="['/themuser',{'UserID':user.UserID}]">Xem</a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                            
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>