<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                              <h4 class="card-title mt-0">{{TieuDe}}</h4>
                              
                        </div>
                        <div class="card-body" *ngIf="isTraloi == false"> 
                              <p>{{MoTa}}</p>
                            <form>
                                <div class="row" *ngFor="let cauhoi of cauhois;let i = index">
                                    <div class="col-md-12">
                                      <p>{{i+1}}.{{cauhoi.NoiDungCH}}</p>
                                      <mat-form-field *ngIf="cauhoi.MaLCH == 1" class="example-full-width">
                                      <input [(ngModel)]="cautraloi[i]" [ngModelOptions]="{standalone: true}" required  matInput  type="text">
                                      </mat-form-field>
                                      <mat-form-field *ngIf="cauhoi.MaLCH == 2" class="example-full-width">
                                        <mat-select [(ngModel)]="cautraloi[i]" [ngModelOptions]="{standalone: true}"  [required]="cauhoi.BatBuoc == 1" placeholder="{{cauhoi.NoiDungCH}}">
                                          <mat-option *ngFor="let _option of _options[i]" [value]="_option.MaOption">{{_option.NoiDungOption}}</mat-option>
                                        </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="cauhoi.MaLCH == 4" class="example-full-width">
                                          <mat-select *ngIf="cauhoi.MaCH != 4 && cauhoi.MaCH != 5" [(ngModel)]="cautraloi[i]" [ngModelOptions]="{standalone: true}"  [required]="cauhoi.BatBuoc == 1" placeholder="{{cauhoi.NoiDungCH}}">
                                            <mat-option *ngFor="let _option of _options[i]" [value]="_option.NoiDungOption">{{_option.NoiDungOption}}</mat-option>
                                          </mat-select>
                                          <mat-select *ngIf="cauhoi.MaCH == 4" [(ngModel)]="cautraloi[i]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSelectedTruong($event)"  required placeholder="{{cauhoi.NoiDungCH}}">
                                                <mat-option *ngFor="let truong of truongs" [value]="truong.TenTruong">{{truong.TenTruong}}</mat-option>
                                          </mat-select>
                                          <mat-select *ngIf="cauhoi.MaCH == 5" [(ngModel)]="cautraloi[i]" [ngModelOptions]="{standalone: true}"  required placeholder="{{cauhoi.NoiDungCH}}">
                                                <mat-option *ngFor="let nganh of nganhs" [value]="nganh.TenNH">{{nganh.TenNH}}</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="cauhoi.MaLCH == 5" class="example-full-width">
                                          <textarea rows="10" cols="50" matInput [(ngModel)]="cautraloi[i]" [ngModelOptions]="{standalone: true}" placeholder="{{cauhoi.NoiDungCH}}" type="text"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <button mat-raised-button (click)="onThemeThongtin()" class="btn btn-info pull-right">Gửi</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="card-body" *ngIf="isTraloi == true" style="text-align: center;"> 
                             <h1>Phiếu khảo sát tình trạng việc làm của sinh viên tốt nghiệp</h1>   
                             <p>Câu trả lời khảo sát của bạn đã được gửi đi.</p>
                             <p><a href="/thuchienkhaosat">Gửi câu trả lời khác</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      