
<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                                <h3 class="card-title">{{TieuDe}}</h3>
                                <p class="card-category">{{MoTa}}
                                </p>
                        </div>
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-md-12">
                                                <mat-table [dataSource]="dataSource">
                                                        <ng-container matColumnDef="ID">
                                                            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                                                              <mat-cell *matCellDef="let thongke">{{thongke.ID + 1}}</mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="KhuVucLV">
                                                            <mat-header-cell *matHeaderCellDef>Khu vực làm việc</mat-header-cell>
                                                            <mat-cell *matCellDef="let thongke">{{thongke.KhuVucLV}}</mat-cell>
                                                        </ng-container>
                                                        <ng-container style="text-align: center;" matColumnDef="SoLuong">
                                                            <mat-header-cell *matHeaderCellDef>Số lượng</mat-header-cell>
                                                            <mat-cell *matCellDef="let thongke">{{thongke.SoLuong}}</mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="TiLe">
                                                            <mat-header-cell *matHeaderCellDef>Tỉ lệ</mat-header-cell>
                                                            <mat-cell *matCellDef="let thongke">{{thongke.TiLe}}</mat-cell>
                                                        </ng-container>
                                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                                                        </mat-row>
                                                        
                                                    </mat-table>
                                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                            <h3>Biểu đồ phân tích</h3>
                                            </div>
                                            </div>
                                <div class="row">
                                        <div class="col-md-6">
                                            <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                              </canvas>
                                        </div>
                                        <div class="col-md-6">
                                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                              </canvas>
                                    </div>
                                </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>