<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <b><h3>Liên hệ</h3></b>
                    </div>
                    <div class="card-body">
                        
                        <form (ngSubmit)="onSendEmail()">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="HoTen" required name="HoTen" matInput placeholder="1. Họ tên:" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="Email" name="Email" email="true" matInput placeholder="2. Email:" required type="text">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <p>(Bạn cần nhập đúng email để chúng tôi có thể gửi phản hồi về đúng địa chỉ email của bạn)</p>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                      <mat-form-field>
                                              <mat-select [(ngModel)]="ChuDe" name="ChuDe"  required placeholder="3. Chủ đề:">
                                                <mat-option value="Đóng góp ý kiến">Đóng góp ý kiến</mat-option>
                                                <mat-option value="Câu hỏi">Câu hỏi</mat-option>
                                              </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <textarea style="resize: vertical;" matInput [(ngModel)]="NoiDung" name="NoiDung" placeholder="4. Nội dung:" type="text"></textarea>
                                  </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Gửi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  